/* GLOBAL SETUP */
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #102a43; /* blueGrey900 */
  font-size: 16px;
  line-height: 1.5;
}

/* RESETS */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  color: #9fb3c8; /* blueGrey300 */
  font-style: italic;
}
::-moz-placeholder {
  color: #9fb3c8; /* blueGrey300 */
  font-style: italic;
  opacity: 1;
}
:-ms-input-placeholder {
  font-style: italic;
  color: #9fb3c8; /* blueGrey300 */
}
